@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0;
}

/* navigation */

header {
    padding: 35px 60px;
    background-color: #F9F7E4;
    border-bottom: 1px solid #D2D2D2;
}

.menu-menu-1-container {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    padding-left: 20px;
    font-weight: 600;
    display: inline-flex;
    font-size: 14px;
}

.menu li a {
    color: #3E3D3D;
}

.logo {
    position: absolute;
    top: 55px;
    left: 60px;
}

.number {
    float: left;
    font-weight: 400;
    padding-right: 5px;
}

.entry-content {
    padding: 35px 60px;
    background-color: #F9F7E4;
    margin: 0;
    padding-bottom: 125px;
}

/* header content */

.home-header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icons i {
    padding-left: 5px;
}

.title {
    font-family: 'Domine', serif;
    font-size: 24px;
}

.accent-title {
    color: #0500FF;
}

.home-paragraph {
    font-family: 'Domine', serif;
    font-size: 14px;
    margin: 0px;
}

.header-container {
    position: relative;
}

.arrow-icon {
    position: absolute;
    right: 0;
    font-size: 50px;
    bottom: 0;
    animation: MoveUpDown 2s linear infinite;
    color: #0500FF;
}

/* secondary cv section */

.secondary-section {
    padding: 35px 60px;
    background-color: #E4F9F4;
}

.secondary-title {
    border-bottom: 1px solid #D2D2D2;
}

.cv-title {
    margin: 0;
}

.cv-content {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cv-company {
    font-family: 'Domine', serif;
    font-size: 14px;
}

.cv-year {
    margin-top: -30px;
}

/* footer */

footer {
    margin: 0;
    padding: 35px 60px;
    background-color: #F9F7E4;
    border-top: 1px solid #D2D2D2;
    font-size: 12px;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
  }


@media (min-width: 768px) {

    .title {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {

    header {
        padding: 35px 122px;
    }

    .entry-content {
        padding: 35px 122px;
        padding-bottom: 125px;
    }

    .logo {
        left: 122px;
    }

    .secondary-section {
        padding: 35px 122px;
    }

    .title {
        font-size: 56px;
    }

    footer {
        padding: 35px 122px;
    }
}

@media (min-width: 1200px) {

    header {
        padding: 35px 200px;
    }

    .entry-content {
        padding: 35px 200px;
        padding-bottom: 125px;
    }

    .logo {
        left: 200px;
    }

    .secondary-section {
        padding: 35px 200px;
    }

    footer {
        padding: 35px 200px;
    }
}
