@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 !important;
    padding: 0;
}

/* navigation */

header {
    padding: 35px 30px;
    background-color: #F9F7E4;
    border-bottom: 1px solid #D2D2D2;
}

.menu-menu-1-container {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    margin-left: 20px;
    font-weight: 600;
    display: inline-flex;
    font-size: 14px;
    padding: 4px;
}

.menu li:hover {
    border: 1px solid #404040;
    border-radius: 50%;
    padding: 3px;
}

.active {
    border: 1px solid #404040;
    border-radius: 50%;
    padding: 3px;
}

.menu li a {
    color: #3E3D3D;
}

.logo {
    position: absolute;
    top: 55px;
    left: 30px;
}

.number {
    float: left;
    font-weight: 400;
    padding-right: 5px;
}

.entry-content {
    padding: 35px 30px;
    background-color: #F9F7E4;
    margin: 0;
    padding-bottom: 125px;
}

/* header content */

.home-header {
    /* display: flex;
    justify-content: space-between; */
    margin: 40px 0px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons i {
    margin-left: 10px;
    font-size: 18px;
}

.icons a {
    color: #404040;
}

.title {
    font-family: 'Domine', serif;
    font-size: 24px;
    text-align: center;
}

.accent-title {
    color: #0500FF;
}

.home-paragraph {
    font-family: 'Domine', serif;
    font-size: 14px;
    margin: 0px;
}

.header-container {
    position: relative;
}

.header-name {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    cursor: pointer;
}

.header-name:hover {
    text-decoration-line: underline;
    text-decoration-style: double;
}

.arrow-icon {
    position: absolute;
    right: 0;
    font-size: 50px;
    bottom: -80px;
    animation: MoveUpDownSmall 2s linear infinite;
    color: #0500FF;
}

.header-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
}

/* secondary cv section */

.secondary-section {
    padding: 35px 30px;
    background-color: #E4F9F4;
    padding-bottom: 85px;
}

.secondary-title {
    border-bottom: 1px solid #D2D2D2;
}

.cv-title {
    margin: 0;
}

.cv-content {
    margin-bottom: 30px;
}

.cv-company {
    font-family: 'Domine', serif;
    font-size: 14px;
}

.cv-year {
    font-size: 14px;
}

/* footer */

footer {
    margin: 0;
    padding: 35px 30px;
    background-color: #F9F7E4;
    border-top: 1px solid #D2D2D2;
    font-size: 12px;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
  }

  @keyframes MoveUpDownSmall {
    0%, 100% {
      bottom: -80px;
    }
    50% {
      bottom: -60px;
    }
  }


  @media (min-width: 420px){
    .title {
        font-size: 24px;
    }
}

@media (min-width: 600px){
    .home-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .arrow-icon {
        bottom: 0;
        animation: MoveUpDown 2s linear infinite;
    }
    
}


@media (min-width: 768px) {
    header {
        padding: 35px 60px;
    }

    .entry-content {
        padding: 35px 60px;
        padding-bottom: 125px;
    }

    .logo {
        left: 122px;
    }

    .secondary-section {
        padding: 35px 60px;
        padding-bottom: 85px;
    }

    footer {
        padding: 35px 60px;
    }


    .title {
        font-size: 42px;
        text-align: left;
    }

    .cv-content {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    .cv-year {
        margin-top: -30px;
        font-size: 1.17em;
    }

    .icons {
        display: block;
    }
}

@media (min-width: 1024px) {

    header {
        padding: 35px 122px;
    }

    .entry-content {
        padding: 35px 122px;
        padding-bottom: 125px;
    }

    .logo {
        left: 122px;
    }

    .secondary-section {
        padding: 35px 122px;
        padding-bottom: 85px;
    }

    .title {
        font-size: 56px;
    }

    footer {
        padding: 35px 122px;
    }
}

@media (min-width: 1200px) {

    header {
        padding: 35px 200px;
    }

    .entry-content {
        padding: 35px 200px;
        padding-bottom: 125px;
    }

    .logo {
        left: 200px;
    }

    .secondary-section {
        padding: 35px 200px;
        padding-bottom: 85px;
    }

    footer {
        padding: 35px 200px;
    }
}
